<a href="https://colab.research.google.com/github/putricinto/Machine-Learning-Project---MLCC/blob/master/Exercise1_Bank_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Bank Classification**

*Bangkit DPS-1 Assignment: First Machine Learning Project*

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#@title Run on TensorFlow 2.x
%tensorflow_version 2.x

TensorFlow is already loaded. Please restart the runtime to change versions.

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [0]:
from google.colab import files
uploaded = files.upload()

Saving bank.csv to bank.csv

In [0]:
# Import the Dataset

bank = pd.read_csv("bank.csv", sep=',')
# bank = pd.read_csv("bank_kaggle.csv")
bank

       age          job  marital  education  ... pdays  previous poutcome deposit
0       59       admin.  married  secondary  ...    -1         0  unknown     yes
1       56       admin.  married  secondary  ...    -1         0  unknown     yes
2       41   technician  married  secondary  ...    -1         0  unknown     yes
3       55     services  married  secondary  ...    -1         0  unknown     yes
4       54       admin.  married   tertiary  ...    -1         0  unknown     yes
...    ...          ...      ...        ...  ...   ...       ...      ...     ...
11157   33  blue-collar   single    primary  ...    -1         0  unknown      no
11158   39     services  married  secondary  ...    -1         0  unknown      no
11159   32   technician   single  secondary  ...    -1         0  unknown      no
11160   43   technician  married  secondary  ...   172         5  failure      no
11161   34   technician  married  secondary  ...    -1         0  unknown      no

[11162 rows x 17 columns]

In [0]:
bank['y']=bank['deposit']

In [0]:
bank.columns
bank['y'].unique()

array(['yes', 'no'], dtype=object)

In [0]:
# Change the labels 'yes' to 1 and 'no' to 0

bank['y'] = bank['y'].replace('yes', 1)
bank['y'] = bank['y'].replace('no', 0)
bank['y']

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: y, Length: 11162, dtype: int64

In [0]:
def label_fix(label):
  if label==' no':
    return 0
  else:
    return 1

bank[' y'] = bank[' y'].apply(label_fix)
bank

In [0]:
x_data = bank.drop('y',axis=1)
y_labels = bank['y']
X_train, X_test, y_train, y_test = train_test_split(x_data,y_labels,test_size=0.3,random_state=101)

In [0]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit', 'y'],
      dtype='object')

In [0]:
job = tf.feature_column.categorical_column_with_hash_bucket("job", hash_bucket_size=1000)
marital = tf.feature_column.categorical_column_with_hash_bucket("marital", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
default = tf.feature_column.categorical_column_with_hash_bucket("default", hash_bucket_size=1000)
housing = tf.feature_column.categorical_column_with_hash_bucket("housing", hash_bucket_size=1000)
loan = tf.feature_column.categorical_column_with_hash_bucket("loan", hash_bucket_size=1000)
contact = tf.feature_column.categorical_column_with_hash_bucket("contact", hash_bucket_size=1000)
month = tf.feature_column.categorical_column_with_hash_bucket("month", hash_bucket_size=1000)
poutcome = tf.feature_column.categorical_column_with_hash_bucket("poutcome", hash_bucket_size=1000)

In [0]:
age = tf.feature_column.numeric_column("age")
balance = tf.feature_column.numeric_column("balance")
day = tf.feature_column.numeric_column("day")
duration = tf.feature_column.numeric_column("duration")
campaign = tf.feature_column.numeric_column("campaign")
pdays = tf.feature_column.numeric_column("pdays")
previous = tf.feature_column.numeric_column("previous")

In [0]:
feat_cols = [job,marital,education,default,housing,loan,contact,month,poutcome,age,balance,day,duration,campaign,pdays,previous]

In [0]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,
                                                 y=y_train,
                                                 batch_size=100,
                                                 num_epochs=None,
                                                 shuffle=True)

In [0]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpokygnumr
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpokygnumr', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7ff55d403c50>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [1]:
model.train(input_fn=input_func,steps=5000)

NameError: ignored

In [0]:
bank.head()

   age         job  marital  education  ... previous  poutcome deposit  y
0   59      admin.  married  secondary  ...        0   unknown     yes  1
1   56      admin.  married  secondary  ...        0   unknown     yes  1
2   41  technician  married  secondary  ...        0   unknown     yes  1
3   55    services  married  secondary  ...        0   unknown     yes  1
4   54      admin.  married   tertiary  ...        0   unknown     yes  1

[5 rows x 18 columns]