<a href="https://colab.research.google.com/github/putricinto/Machine-Learning-Project---MLCC/blob/master/Exercise1_Bank_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Bank Classification**

*Bangkit DPS-1 Assignment: First Machine Learning Project*

**Read in the csv data with pandas**

In [0]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [42]:
url = 'https://raw.githubusercontent.com/putricinto/Machine-Learning-Project---MLCC/master/bank.csv'
bank = pd.read_csv(url)
bank

       age          job  marital  education  ... pdays  previous poutcome deposit
0       59       admin.  married  secondary  ...    -1         0  unknown     yes
1       56       admin.  married  secondary  ...    -1         0  unknown     yes
2       41   technician  married  secondary  ...    -1         0  unknown     yes
3       55     services  married  secondary  ...    -1         0  unknown     yes
4       54       admin.  married   tertiary  ...    -1         0  unknown     yes
...    ...          ...      ...        ...  ...   ...       ...      ...     ...
11157   33  blue-collar   single    primary  ...    -1         0  unknown      no
11158   39     services  married  secondary  ...    -1         0  unknown      no
11159   32   technician   single  secondary  ...    -1         0  unknown      no
11160   43   technician  married  secondary  ...   172         5  failure      no
11161   34   technician  married  secondary  ...    -1         0  unknown      no

[11162 rows x 17 columns]

**Convert the Label column to 0s and 1s instead of strings**

In [43]:
bank['deposit'] = bank['deposit'].replace('yes', 1)
bank['deposit'] = bank['deposit'].replace('no', 0)
bank['deposit']

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

**Create the Feature Columns for tf.esitmator**

In [0]:
job = feature_column.categorical_column_with_vocabulary_list(
      'job',['admin.','blue-collar','entrepreneur','housemaid','management',
             'retired','self-employed','services','student','technician',
             'unemployed','unknown']
)
marital = feature_column.categorical_column_with_vocabulary_list(
      'marital',['divorced','married','single']
)
education = feature_column.categorical_column_with_vocabulary_list(
      'education',['primary','secondary','tertiary','unknown']
)
default = feature_column.categorical_column_with_vocabulary_list(
      'default',['no','yes']
)
housing = feature_column.categorical_column_with_vocabulary_list(
      'housing',['no','yes']
)
loan = feature_column.categorical_column_with_vocabulary_list(
      'loan',['no','yes']
)
contact = feature_column.categorical_column_with_vocabulary_list(
      'contact',['cellular','telephone','unknown']
)
month = feature_column.categorical_column_with_vocabulary_list(
      'month',['jan','feb','mar','apr','may','jun','jul','aug','sep','oct',
               'nov','dec']
)
poutcome = feature_column.categorical_column_with_vocabulary_list(
      'poutcome',['failure','success','unknown','other']
)

In [0]:
job_hot = feature_column.indicator_column(job)
marital_hot = feature_column.indicator_column(marital)
education_hot = feature_column.indicator_column(education)
default_hot = feature_column.indicator_column(default)
housing_hot = feature_column.indicator_column(housing)
loan_hot = feature_column.indicator_column(loan)
contact_hot = feature_column.indicator_column(contact)
month_hot = feature_column.indicator_column(month)
poutcome_hot = feature_column.indicator_column(poutcome)

In [0]:
age = feature_column.numeric_column("age")
balance = feature_column.numeric_column("balance")
day = feature_column.numeric_column("day")
duration = feature_column.numeric_column("duration")
campaign = feature_column.numeric_column("campaign")
pdays = feature_column.numeric_column("pdays")
previous = feature_column.numeric_column("previous")

**Perform a Train Test Split on the Data**

In [0]:
x_data = bank.drop('deposit',axis=1)
y_labels = bank['deposit']
X_train, X_test, y_train, y_test = train_test_split(
      x_data,y_labels,test_size=0.3,random_state=101)

**Put all these variables into a single list with the variable name feat_cols**

In [0]:
feat_cols = [job_hot,marital_hot,education_hot,default_hot,housing_hot,
             loan_hot,contact_hot,month_hot,poutcome_hot,age,balance,
             day,duration,campaign,pdays,previous]

**Create Input Function**

In [0]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,
                                                 y=y_train,
                                                 batch_size=10,
                                                 num_epochs=None,
                                                 shuffle=True)

**Create your model with tf.estimator**

In [50]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp0_gjncyp
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp0_gjncyp', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f0ebaaeb400>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

**Train your model on the data, for at least 5000 steps**

In [51]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp0_gjncyp/model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 266.859
INFO:tensorflow:loss = 27.58372, step = 101 (0.378 sec)
INFO:tensorflow:global_step/sec: 338.367
INFO:tensorflow:loss = 61.978455, step = 201 (0.293 sec)
INFO:tensorflow:global_step/sec: 328.54
INFO:tensorflow:loss = 33.71229, step = 301 (0.311 sec)
INFO:tensorflow:global_step/sec: 324.119
INFO:tensorflow:loss = 16.505962, step = 401 (0.307 sec)
INFO:tensorflow:global_step/sec: 328.88
INFO:tensorflow:loss = 11.742239, step = 501 (0.306 sec)
INFO:tensorflow:global_step/sec: 328.648
INFO:tensorflow:loss = 306.59207, step = 601 (0.307 sec)
INFO:tensorflow:global_step/sec: 328.985
INFO:tensorflow:loss = 35.477158, step = 701 (0.297 sec)
INFO:tensorflow:global_step/sec: 341.148
INFO:tensorflow:loss = 0.26181737, step = 801 (0.291 sec)
INFO:tensorflow:global_step/sec: 331.078
INFO:tensorflow:loss = 44.390907, step = 901 (0.302 sec)
INFO:tensorflow:global_step/sec: 334.765
INFO:tensorflow:loss = 34.541664, step = 1001 (0.299 sec)
INFO:tensorflow:global_step/sec: 330.561
INFO:tensorflow:loss = 5.0588136, step = 1101 (0.302 sec)
INFO:tensorflow:global_step/sec: 329.19
INFO:tensorflow:loss = 0.09339063, step = 1201 (0.306 sec)
INFO:tensorflow:global_step/sec: 344.157
INFO:tensorflow:loss = 14.888949, step = 1301 (0.288 sec)
INFO:tensorflow:global_step/sec: 339.995
INFO:tensorflow:loss = 10.499481, step = 1401 (0.294 sec)
INFO:tensorflow:global_step/sec: 329.955
INFO:tensorflow:loss = 4.184123, step = 1501 (0.307 sec)
INFO:tensorflow:global_step/sec: 338.167
INFO:tensorflow:loss = 17.10521, step = 1601 (0.294 sec)
INFO:tensorflow:global_step/sec: 323.801
INFO:tensorflow:loss = 30.398638, step = 1701 (0.306 sec)
INFO:tensorflow:global_step/sec: 335.871
INFO:tensorflow:loss = 38.71828, step = 1801 (0.299 sec)
INFO:tensorflow:global_step/sec: 332.345
INFO:tensorflow:loss = 23.817472, step = 1901 (0.308 sec)
INFO:tensorflow:global_step/sec: 335.898
INFO:tensorflow:loss = 12.280031, step = 2001 (0.291 sec)
INFO:tensorflow:global_step/sec: 328.124
INFO:tensorflow:loss = 0.3400147, step = 2101 (0.314 sec)
INFO:tensorflow:global_step/sec: 333.639
INFO:tensorflow:loss = 29.285479, step = 2201 (0.301 sec)
INFO:tensorflow:global_step/sec: 327.835
INFO:tensorflow:loss = 18.19897, step = 2301 (0.302 sec)
INFO:tensorflow:global_step/sec: 337.022
INFO:tensorflow:loss = 12.256761, step = 2401 (0.293 sec)
INFO:tensorflow:global_step/sec: 335.245
INFO:tensorflow:loss = 1.0247765, step = 2501 (0.298 sec)
INFO:tensorflow:global_step/sec: 335.943
INFO:tensorflow:loss = 40.715115, step = 2601 (0.294 sec)
INFO:tensorflow:global_step/sec: 332.218
INFO:tensorflow:loss = 11.4551735, step = 2701 (0.308 sec)
INFO:tensorflow:global_step/sec: 327.37
INFO:tensorflow:loss = 20.408398, step = 2801 (0.299 sec)
INFO:tensorflow:global_step/sec: 334.517
INFO:tensorflow:loss = 3.9779346, step = 2901 (0.301 sec)
INFO:tensorflow:global_step/sec: 341.607
INFO:tensorflow:loss = 76.11701, step = 3001 (0.288 sec)
INFO:tensorflow:global_step/sec: 326.897
INFO:tensorflow:loss = 0.3118238, step = 3101 (0.306 sec)
INFO:tensorflow:global_step/sec: 337.51
INFO:tensorflow:loss = 135.62024, step = 3201 (0.299 sec)
INFO:tensorflow:global_step/sec: 329.067
INFO:tensorflow:loss = 8.618279, step = 3301 (0.301 sec)
INFO:tensorflow:global_step/sec: 333.823
INFO:tensorflow:loss = 8.719842, step = 3401 (0.299 sec)
INFO:tensorflow:global_step/sec: 330.511
INFO:tensorflow:loss = 0.10611506, step = 3501 (0.307 sec)
INFO:tensorflow:global_step/sec: 333.35
INFO:tensorflow:loss = 4.0622563, step = 3601 (0.297 sec)
INFO:tensorflow:global_step/sec: 330.176
INFO:tensorflow:loss = 76.74956, step = 3701 (0.312 sec)
INFO:tensorflow:global_step/sec: 334.554
INFO:tensorflow:loss = 3.8600657, step = 3801 (0.296 sec)
INFO:tensorflow:global_step/sec: 301.042
INFO:tensorflow:loss = 9.015442, step = 3901 (0.334 sec)
INFO:tensorflow:global_step/sec: 325.305
INFO:tensorflow:loss = 5.305414, step = 4001 (0.298 sec)
INFO:tensorflow:global_step/sec: 338.07
INFO:tensorflow:loss = 25.313435, step = 4101 (0.298 sec)
INFO:tensorflow:global_step/sec: 334.866
INFO:tensorflow:loss = 15.850638, step = 4201 (0.301 sec)
INFO:tensorflow:global_step/sec: 332.229
INFO:tensorflow:loss = 15.422974, step = 4301 (0.297 sec)
INFO:tensorflow:global_step/sec: 331.664
INFO:tensorflow:loss = 1.7458863, step = 4401 (0.303 sec)
INFO:tensorflow:global_step/sec: 325.314
INFO:tensorflow:loss = 34.603718, step = 4501 (0.308 sec)
INFO:tensorflow:global_step/sec: 333.131
INFO:tensorflow:loss = 11.415757, step = 4601 (0.302 sec)
INFO:tensorflow:global_step/sec: 331.693
INFO:tensorflow:loss = 14.015077, step = 4701 (0.298 sec)
INFO:tensorflow:global_step/sec: 330.227
INFO:tensorflow:loss = 11.542044, step = 4801 (0.305 sec)
INFO:tensorflow:global_step/sec: 339.001
INFO:tensorflow:loss = 12.063707, step = 4901 (0.293 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /tmp/tmp0_gjncyp/model.ckpt.
INFO:tensorflow:Loss for final step: 26.097775.

**Create a prediction input function**

In [0]:
pred_fn = tf.estimator.inputs.pandas_input_fn(
    x=X_test,batch_size=len(X_test),shuffle=False)

**Use model.predict() and pass in your input function**

In [53]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp0_gjncyp/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

**Each item in your list will look like this:**

In [54]:
predictions[0]

{'all_class_ids': array([0, 1], dtype=int32),
 'all_classes': array([b'0', b'1'], dtype=object),
 'class_ids': array([1]),
 'classes': array([b'1'], dtype=object),
 'logistic': array([0.9999997], dtype=float32),
 'logits': array([15.172459], dtype=float32),
 'probabilities': array([2.5744524e-07, 9.9999976e-01], dtype=float32)}

**Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values**

In [0]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [56]:
final_preds[:20]

[1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1]

In [0]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(
    x=X_test,y=y_test,batch_size=len(X_test),shuffle=False)

In [58]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.90      0.61      0.73      1761
           1       0.68      0.92      0.78      1588

    accuracy                           0.76      3349
   macro avg       0.79      0.77      0.76      3349
weighted avg       0.80      0.76      0.75      3349

In [59]:
results = model.evaluate(eval_input_func)
results

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2020-03-25T13:26:38Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp0_gjncyp/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2020-03-25-13:26:39
INFO:tensorflow:Saving dict for global step 5000: accuracy = 0.7587339, accuracy_baseline = 0.5258286, auc = 0.83513427, auc_precision_recall = 0.8286657, average_loss = 1.6988441, global_step = 5000, label/mean = 0.4741714, loss = 5689.4287, precision = 0.6812268, prediction/mean = 0.6449316, recall = 0.9231738
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 5000: /tmp/tmp0_gjncyp/model.ckpt-5000

{'accuracy': 0.7587339,
 'accuracy_baseline': 0.5258286,
 'auc': 0.83513427,
 'auc_precision_recall': 0.8286657,
 'average_loss': 1.6988441,
 'global_step': 5000,
 'label/mean': 0.4741714,
 'loss': 5689.4287,
 'precision': 0.6812268,
 'prediction/mean': 0.6449316,
 'recall': 0.9231738}